<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>@ViewBag.PageTitle</title>
    <link 
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
      crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/style.css">
  </head>
  <body>
    @await Html.PartialAsync("Header")
    <div class="container">
      <div class="row">
          <div class="col">
            @await Html.PartialAsync("Sidebar")
          </div>
          <div class="col-9">
            <h2 class="text-center">@ViewBag.PageTitle</h2>
            <div class="flex-column justify-content-center">
              @RenderBody()
            </div>
          </div>
      </div>
    </div>
  </body>
</html>