@using Factory.Models;

<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
  <a class="nav-link active" data-toggle="pill" role="tab" href="/">Home</a>
  <a class="nav-link active" data-toggle="pill" role="tab" href="/engineers">Engineers</a>
  <a class="nav-link active" data-toggle="pill" role="tab" href="/machines">Machines</a>
  <a class="nav-link active" data-toggle="pill" role="tab" href="/engineers/create">New Engineer</a>
  <a class="nav-link active" data-toggle="pill" role="tab" href="/machines/create">New Machine</a>
</div>